 <div class="container">
    

<form action="/usrmgt/req_admin_53" method="post">
    <input type="text" placeholder="Enter Username" name="username" required>  
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">make em wet, become admin, click here</button>
</form>

   

  </div>
